.root {
  display: flex;
  flex-direction: row;

  &[data-filters-visible] {
    .filtersContainer {
      left: 0;
    }

    .events {
      margin-left: var(--filters-width);
    }
  }
}

.filtersContainer {
  height: calc(100% - var(--docs-header-height));
  overflow: auto;
  position: fixed;
  border-right: 1px solid var(--mantine-color-gray-2);
  width: var(--filters-width);
  left: calc(-1 * var(--filters-width));
  transition: left 0.5s;
  box-shadow: var(--mantine-shadow-sm);
}

.filters {
  padding: var(--mantine-spacing-md);
}

.events {
  padding: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-lg);
  margin-left: 0;
  transition: margin-left 0.5s;
}
